* {
  min-height: 0;
  min-width: 0;
  font-family: "Cantarell Regular";
  /*font-family: Lexend, "JetBrainsMono NFP";*/
  font-size: 10px;
  font-weight: 400;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.0s;
  /* background-color: #1e1e2e; */
  /* background-color: #181825; */
  background-color: #000;
  /* background-color: rgba(24, 24, 37, 0.6); */
}

#workspaces button {
  padding: 0rem 0.7rem;
  margin: 0rem;
  border-radius: 0px;
  /* background-color: #181825; */
  background-color: #333;
  color: #FFF;
}

#workspaces button:hover {
  color: #FFF;
  background-color: #000;
}

#workspaces button.active {
  background-color: #500;
  color: #89b4fa;
}

#workspaces button.urgent {
  background-color: #1e1e2e;
  color: #f38ba8;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-notification,
#cpu,
#tray,
#network,
#memory,
#window,
#battery,
#mpris {
  padding: 0rem 0.5rem;
  margin: 0rem;
  border-radius: 0px;
  /* background-color: #181825; */
  background-color: #333;
}

#clock:hover,
#pulseaudio:hover,
#custom-logo:hover,
#custom-power:hover,
#custom-notification:hover,
#cpu:hover,
#tray:hover,
#network:hover,
#memory:hover, 
#window:hover,
#battery:hover,
#mpris:hover {
  background-color: blue;
}

#mpris.playing {
  color: #a6e3a1;
}

#mpris.paused {
  color: #9399b2;
}

#custom-sep {
  padding: 0px;
  color: #585b70;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu, 
#memory,
#window,
#battery,
#network,
#pulseaudio,
#clock.simpleclock,
#custom-notification,
#clock {
  color: #FFF;
}

#pulseaudio.muted {
  color: #a6adc8;
}

#custom-logo {
  color: #89b4fa;
}

#custom-power {
  color: #f38ba8;
}

tooltip {
  background-color: #FFF;
  border: 1px solid black;
  border-radius: 0px
}
